body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.top {
  background: #FFE6E6;
  padding: 1px;
}

body {
  font-family: 'Poor Story', cursive;
}
  
#remoteVideo {
  width: 70%;
}

#localVideo {
  width: 20%;
}
